<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title}></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!--<nav th:insert="blocks/navigate :: navigate"></nav>-->
<div class = "container mt-5">
    <h1>About</h1>
    <div class="alert alert-dismissible mt-2">
        <text><p> 3141 год.
            <p>
            <p>Вселенная исследована и поделена.
            Верховный правитель назначает Повелителей Планет, общее количество которых исчисляется миллионами.
            Опытные Повелители могут одновременно управлять несколькими Планетами. Никакой демократии, поэтому одной планетой может править только один Повелитель.
            Все это безобразие требует системы учета и надзора.
            <p>
            <p><b>Задание:</b>
            <p>Разработать Spring Boot приложение на Java.
            Приложение должно иметь API и работать с реляционной БД. Для простоты отладки это может быть in-memory БД, например HSQLDB или иная.

            <p><b>Базовые характеристики сущностей.</b>
            <li>Повелитель: Имя и Возраст</li>
            <li>Планета: Название</li>
            <p>Один Повелитель может управлять несколькими Планетами, но одной Планетой может править только один Повелитель.

            <p>Необходимо разработать структуру таблиц для хранения Повелителей и Планет и связь между ними.

            <p><b>Поддержать методы API:</b>
            <li>Добавить нового Повелителя</li>
            <li>Добавить новую Планету</li>
            <li>Назначить Повелителя управлять Планетой</li>
            <li>Уничтожить Планету</li>
            <li>Найти всех Повелителей бездельников, которые прохлаждаются и не управляют никакими Планетами</li>
            <li>Отобразить ТОП 10 самых молодых Повелителей</li>

            <p>Написать тесты для этого функционала

            <p> Код расположить в GitHub.

            <p>Дополнительно (будет большим плюсом, но не обязательно):
            <li>Создать примитивный web интерфейс, в котором будут работать все методы API (красота, дизайн, usability оцениваться НЕ будут).</li>
            <li>Написать тест на Selenium, который будет проверять работу интерфейса.</li></text>

    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>
